
<%= form_with model: @user,url:'/users' do |f| %>

  <h4>Name</h4>
  <%= f.text_firld :name %>

  <h4>Image</h4>
  <%= f.file_field :image, accept: "image/*" %>

  <h4>Introduction</h4>
  <%= f.text_area :body %>


  <%= f.submit 'Update User' %>

<% end %>

<main>
        <p id="notice"></p>
        <div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>User info</h2>

      <div class="form-group">
        <label for="user_name">Name</label>
        <%= f.text_firld :name %>
        <input class="form-control name" type="text" value="ana" name="user[name]" id="user_name" />
      </div>
     <div class="form-group">
        <label for="user_image">Image</label>
        <input class="form-control-file user_image" accept="image/*" type="file" name="user[profile_image]" id="user_profile_image" />
      </div>
      <div class="form-group">
        <label for="user_introduction">Introduction</label>

      </div>
      <div class="form-group">
        <input type="submit" name="commit" value="Update User" class="btn btn-secondary" data-disable-with="Update User" />
      </div>
</form>  </div>
</div>

      </main>