<h1>Books#show</h1>
 <%= form_with model: @books,url:'books' do |f| %>

<div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><a href="/users/24">
            <th><%= f.file_field :image, accept: "image/*" %></th>
      </tr>
           <th>Title</th>
            <%= f.text_field :title %>
           <th>Opinion</th>
            <%= f.text_area :body %>



      </table>
 </div>



<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "destroy", book_path(@book.id), method: :delete,"data-confirm" => "本当に消しますか？" %>
